@font-face {
    font-family: IM Fell French Canon Pro;
    src: url(/static/fonts/IMFellFrenchCanon-Regular.ttf);
}

body {
    margin: 0%;
    background-color: ivory;
    font-family: IM Fell French Canon Pro;
    text-align: center;
}

.header {
    background: #CBD2A4;
    text-align: center;
    color: #54473F;
    padding: 16px;
    box-shadow: #E9EED9;
}

.container {
    margin: 80px 250px;
    padding: 100px 0;
    border-color: #CBD2A4;
    border-style: dashed;
    border-width: 2px;
    border-radius: 1.25rem;
    background-color: #fafee5;
}

.flex-container {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    padding: 0 20px;
    min-height: 400px;
    margin: 70px 100px;
}

.left,
.right {
    flex: 1;
    margin: 0px 20px;
    padding: 50px 100px;
}

.img{
    max-width: 500px;
}

h2 {
    padding: 0%;
    font-size: 40px;
}

h3 {
    margin: 0 30px;
    padding-bottom: 16px;
}

.material-info {
    flex: 1;
    min-width: 300px;
}

.prediction {
    flex: 1;
    min-width: 300px;
}


.button {
    background-color: #EEE1C6;
    border: 2px solid #54473F;
    border-radius: 30px;
    box-shadow: #54473F 4px 4px 0 0;
    color: #54473F;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 0 30px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin: 20px;
}

.button:hover {
    background-color: #CBD2A4;
    color: ivory;
    transform: scale(1.05) rotate(-1deg);
}